[submodule "cmpinf-final-project"]
	path = cmpinf-final-project
	url = git@github.com:zopalmer14/cmpinf-final-project.git
[submodule "Pitt-Data-Science-Projects"]
	path = Pitt-Data-Science-Projects
	url = https://github.com/zopalmer14/Pitt-Data-Science-Projects
