[submodule "cmpinf-final-project"]
	path = cmpinf-final-project
	url = git@github.com:zopalmer14/cmpinf-final-project.git
[submodule "STAT1261-Final-Project"]
	path = STAT1261-Final-Project
	url = https://github.com/zopalmer14/STAT1261-Final-Project
[submodule "SportsAnalytics"]
	path = SportsAnalytics
	url = https://github.com/zopalmer14/SportsAnalytics
